.img{
    float: left;
    padding: 5px;
}

.b{
    background:black;
}
.btn{
    background: black;
    color: white;
}
.h11{
    color: white;

}
.text1{
    color: white;
}
.h12{
    color:rgb(174, 174, 224);

}